<nav class="navbar custom-nav mb-4 vw-100 d-flex flex-wrap">
  <figure class="navbar-brand ms-4 flex-shrink-1">
    <img class="imgIcones d-flex flex-shrink-1" src="../../assets/logo_sus_contata.svg" alt="SUS-Contata_logo">
  </figure>

  <div id="gradient-menu" class="gradient-menu d-flex flex-grow-1 flex-row p-3 me-4">
      <ul id="menu-superior" >
        <li><a href="./index">Home</a></li>
        <li><a href="./agendamentos">Agendamentos</a></li>
        <li><a href="./profile">Meu Perfil</a></li>
        <li><a href="./login">Login/Logoff</a></li>
      </ul>
    </div>

</nav>
