<footer>
  <ul id="menu-footer" class="nav flex-column">
    <li><a href="./agendamentos">Agendamentos</a></li>
    <li><a href="./">Home</a></li>
    <li><a href="./profile">Meu Perfil</a></li>
    <li><a href="./login">Login</a></li>
  </ul>


  <div id="apoiadores">
    <img src="../../assets/apoiadores/apoiador1.png" alt="apoiador1" class="apoiadores">
    <img src="../../assets/apoiadores/apoiador2.png" alt="apoiador2" class="apoiadores">
    <img src="../../assets/apoiadores/apoiador3.png" alt="apoiador3" class="apoiadores">
    <img src="../../assets/apoiadores/apoiador4.png" alt="apoiador4" class="apoiadores">
  </div>
  <div id="contatos">
    <ul>
      <li><a target="_blank" href="https://facebook.com"><img src="../../assets/Facebook_f_logo_(2019).svg.webp" alt=""></a>
      </li>
      <li><a target="_blank" href="https://instagram.com"><img src="../../assets/instagram-icon-free-png.webp" alt=""></a>
      </li>
      <li><a target="_blank" href="https://linkedin.com"><img src="../../assets/linkedin-logo-png-1826.png" alt=""></a></li>
    </ul>
  </div>
</footer>
