<app-header></app-header>

<main id="agendamentos-adm">
  <div id="compromissos">
    <div class="compromissos">
      <div id="item1">

        <span class="titulo-agendamento" id="agendamento1">8:00</span>
        <p id="descricao1">
          Paciente X, consulta com ortopedista às 8:00
        </p>
        <div class="confirmacao">
          <input type="button" id="confirmar1" class="confirmar" value="Confirmar">
          <input type="button" id="cancelar1" class="cancelar" value="Cancelar">
          <input type="button" id="reagendar1" class="reagendar" value="Reagendar">
          <input type="button" id="encaixe1" class="encaixe" value="Aceita Encaixe">
        </div>
      </div>
    </div>
    <div class="compromissos">
      <div id="item2">

        <span class="titulo-agendamento" id="agendamento2">9:00</span>
        <p id="descricao2">
          Paciente Y, consulta com ortopedista às 9:00
        </p>
        <div class="confirmacao">
          <input type="button" id="confirmar2" class="confirmar" value="Confirmar">
          <input type="button" id="cancelar2" class="cancelar" value="Cancelar">
          <input type="button" id="reagendar2" class="reagendar" value="Reagendar">
          <input type="button" id="encaixe2" class="encaixe" value="Aceita Encaixe">
        </div>
      </div>
    </div>
    <div class="compromissos">
      <div id="item3">

        <span class="titulo-agendamento" id="agendamento3">9:30</span>
        <p id="descricao3">
          Paciente Z, consulta com ortopedista às 9:30
        </p>
        <div class="confirmacao">
          <input type="button" id="confirmar3" class="confirmar" value="Confirmar">
          <input type="button" id="cancelar3" class="cancelar" value="Cancelar">
          <input type="button" id="reagendar3" class="reagendar" value="Reagendar">
          <input type="button" id="encaixe3" class="encaixe" value="Aceita Encaixe">
        </div>
      </div>
    </div>
  </div>
  <div id="calendar">
    <img id="calendar" src="../../assets/calendario.png" alt="calendarIcon">
  </div>

</main>

<app-footer></app-footer>
