
<app-header></app-header>

<main>
  <div id="principal">
    <div id="logo">
      <figure>
        <img src="./assets/logo_sus_contata.svg" alt="SUSContata">
      </figure>
    </div>
  </div>
  <div id="botao">
    <div id="infoLogin">
      <label class="usuario" for="usuario">Usuário</label>
      <input class="usuario" id="usuario" type="text">
      <label class="senha" for="senha">Senha</label>
      <input class="senha" id="senha" type="text">
    </div>
    <button id="conecta">Conectar</button>
    <div id="radioLogin">
      <label for="cidadao">Login Cidadão</label>
      <input type="radio" name="optLogin" id="cidadao" value="cidadao" checked>
      <label for="administrativo">Login Administrativo</label>
      <input type="radio" name="optLogin" id="administrativo" value="administrativo">
    </div>
  </div>
</main>

<app-footer></app-footer>

