<app-header></app-header>

<main>
  <div id="coluna1">
    <div id="foto">
      <figure>
        <img src="./assets/perfil.jpg" alt="Foto Paciente">
      </figure>
    </div>
    <div id="informacoesPaciente">
      <div>
        <label for="nome" id="nomePaciente">Nome completo:</label>
        <input type="text" placeholder="Valtinho da 2">
      </div>

      <div>
        <label for="email" id="emailPaciente">E-mail:</label>
        <input type="text" placeholder="Valtinhoda2@gmail.com">

      </div>
      <div>
        <label for="telefone1" id="telefone1Paciente">Telefone 1:</label>
        <input type="text" placeholder="(15) 98154-8563">
      </div>
      <div>
        <label for="telefone2" id="telefone2Paciente">Telefone 2:</label>
        <input type="text" placeholder="(15) 3226-9678">

      </div>
    </div>
  </div>
  <div id="coluna2">
    <h2>Contatos extra (reponsável ou auxiliar)</h2>
    <div id="contatosDiv">
      <div id="contato1">
        <select name="relacao" id="relacao">
          <option selected>Sel</option>
          <option value="Pai">Pai</option>
          <option value="Mãe">Mãe</option>
          <option value="Filho(a)">Filho(a)</option>
          <option value="Tio(a)">Tio(a)</option>
          <option value="Cunhado(a)">Cunhado(a)</option>
          <option value="Amigo">Amigo</option>
        </select>
        <input type="text" placeholder="Nome e Sobrenome">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Telefone 1">
        <input type="text" placeholder="Telefone 2">
      </div>
      <div id="contato2">
        <select name="relacao" id="relacao">
          <option selected>Grau de parentesco</option>
          <option value="Pai">Pai</option>
          <option value="Mãe">Mãe</option>
          <option value="Filho(a)">Filho(a)</option>
          <option value="Tio(a)">Tio(a)</option>
          <option value="Cunhado(a)">Cunhado(a)</option>
          <option value="Amigo">Amigo</option>
        </select>
        <input type="text" placeholder="Nome e Sobrenome">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Telefone 1">
        <input type="text" placeholder="Telefone 2">
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
